/* Définition des polices personnalisées */


@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot%3F') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot%3F') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Eléments principaux de la page */

body
{
    background: url('https://capv.toile-libre.org/images/IMG_0457.jpg');
    /*background-color:#B5B8C0;  couleur de fond pour du #BBFFFF */
    background: #eee;
    /*background-color: #FFCC66;*/
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}
/************/

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    text-align: center;
}
section h1, section h2, section h3 {
    border-bottom: 2px solid #4CAF50;
    padding-bottom: 0.5em;
}
/* Conteneur pour aligner l'image et le texte */
.header-container {
    display: flex; /* Utilise Flexbox pour aligner les éléments */
    align-items: center; /* Aligne les éléments verticalement au centre */
    gap: 10px; /* Espace entre l'image et le texte */
}

/* Stylisation de l'image */
#logo {
    width: 110px; /* Largeur de l'image */
    height: auto; /* Conserve le ratio d'aspect */
}

/* Stylisation du lien */
.header-link {
    text-decoration: none; /* Supprime le soulignement du lien */
    color: inherit; /* Garde la couleur du texte */
    display: inline-block; /* Comporte le lien comme un bloc en ligne */
}

/* Stylisation du texte */
.header-title {
    font-family: 'Roboto', sans-serif; /* Police personnalisée, peut être changée */
    font-size: 24px; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    color: #333; /* Couleur du texte */
    transition: color 0.3s; /* Effet de transition pour le survol */
}

/* Effet de survol du texte */
.header-link:hover .header-title {
    color: #0056b3; /* Change la couleur au survol */
}


/***********/

#bloc_page
{
    width: 1400px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

#titre_principal
{
    display: inline-block;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav
{
    display: inline-block;
    width: 800px;
    text-align: right;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    display: inline-block;
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border-radius: 5px;
    background: url('images/Couverture.jpg') no-repeat;
    position: relative;
    box-shadow: 0px 4px 4px #1c1a19;
    margin-bottom: 25px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 0px 0px 5px 5px;
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px;
    background-color: rgb(24,24,24); /* Pour les anciens navigateurs */
    background-color: rgba(24,24,24,0.8);
    color: white;
    font-size: 0.8em;
    
}

.bouton_rouge
{
    display: inline-block;
    height: 25px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}

.bouton_rouge img
{
    border: 0;
}

/* Corps */

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}



.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 1em;
    background: #ddd;
}

p:hover/*, p.hover*/ {
  background: #fff;
}

aside
{
    position: relative;
    width: 17%;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: black;
    font-size: 0.9em;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* Footer */

footer
{
    background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;
    padding-top: 25px;
}


footer p, footer ul
{
    font-size: 0.9em;
}

footer h1
{
    font-size: 1.1em;
}

#tweet, #mes_photos, #Our_team
{
    display: inline-block;
    vertical-align: top;
}

#tweet
{
    width: 28%;
}

#mes_photos
{
    width: 35%;
}

#Our_team
{
    width: 31%;
}

#mes_photos img
{
    border: 1px solid #181818;
    margin-right: 2px;
}

#Our_team ul
{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    width: 48%;
    list-style-image: url('images/ico_liensexterne.png');
    padding-left: 2px;
}

#Our_team a
{
    text-decoration: none;
    color: #760001;
}


/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */

.old_ie #titre_principal, .old_ie #logo, .old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie .bouton_rouge, .old_ie article, .old_ie aside, .old_ie #tweet, .old_ie #mes_photos, .old_ie #Our_team, .old_ie #Our_team ul
{
    display: inline;
    zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */

.old_ie section h1, .ie8 section h1
{
    font-size: 1.1em;
}

.old_ie footer div, .ie8 footer div
{
    margin-top: 30px;
    background: url('images/separateur.png') repeat-x top;
}
p.wisdom {border:4px dotted Black;}
UL.menu {color: red; width:8cm; border:4px ridge Black;background-color:#dddddd;}
UL.menu1 {color: red; width:13cm; border:4px ridge Black;background-color:#dddddd;}


div#sommaire {
  position: fixed;
  top: 1em;
  right: 1em;
  background: #fff;
  padding: 0em 1em;
  overflow: hidden;
  height: 4em;
  border: solid blue 1px;
  border-bottom: dashed blue 1px;
}

div#sommaire:hover/*, div#sommaire.hover */ {
  height: auto;
  border: solid blue 1px;
}


/**********/
/* Style de base pour le header */
header {
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
}

/* Container principal */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Permet au contenu de s'ajuster sur plusieurs lignes si nécessaire */
}

/* Style du logo */
#logo {
    max-width: 80px;
    height: auto;
}

/* Style du titre */
.header-title {
    font-size: 2vw;
    text-align: center;
    flex: 1;
    margin-left: 10px;
}

/* Style du lien du titre */
.header-link {
    text-decoration: none;
    color: #333;
}

/* Style de la navigation */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #ddd;
}

/**********/

