article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

article
{
    width: 80%;
    margin-right: 15px;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    width: 77.5%;
    bottom: 0;
}

p.important {
   height:3cm;
   margin:0cm; /* permet de mettre une marge externe au cadre . */
   padding:0.5cm; /* permet de mettre une marge à l'interieure du cadre */
   padding:10px;
   background-color:#dddddd;
   /*color: red;*/
   border-left:2px solid blue; /* couleur du cadre */
   border-right:2px solid blue;
   border-bottom:2px solid blue;
   border-top:2px solid blue;
   overflow:scroll; /* ne débordent pas du cadre(espace d'affichage) avec ou sans scrollbar */
  }
p.important:hover/*, p.hover*/ {
  background: #fff;
}
